.top_nav{

  color:white;
  width: 970px;
  height: 70px;
}

.links{
  float: right;

}

.links .active{
  color: red;
}
li{
  display: inline-block;
  
  padding: 0 1em;
}

.top-nav .content .links li:hover{
  cursor: pointer;
  color:#333333;
}