.top_nav{

  color:white;
  width: 970px;
  height: 70px;
}

.links{
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  margin-right:280px;
  font-weight: 1000;

}

.links .active{
  color: red;
}
li{
  display: inline-block;
  font-size: 17px;
  padding: 0 12px;
}

.top-nav .content .links li:hover{
  cursor: pointer;
  color:#333333;
}

img{

  margin-left:277px;
  margin-top:.5rem;
}
